<mat-form-field appearance="outline" subscriptSizing="dynamic">
  <textarea
    matInput
    cdkTextareaAutosize
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="5"
    placeholder="Search your notes"
    [(ngModel)]="searchQuery"
    (keydown.enter)="searchNotes($event)"></textarea>
</mat-form-field>
<div class="response">
  @if (isLoading()) {
  <p>Thinking...</p>
  } @else { @if (error()) {
  <p class="error">{{error()}}</p>
  } @else {
  <markdown [data]="response()"></markdown>
  } }
</div>
