<mat-form-field appearance="outline" subscriptSizing="dynamic">
  <textarea
    matInput
    cdkTextareaAutosize
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="5"
    placeholder="Search your notes"></textarea>
</mat-form-field>
<div class="response">
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex nisi tempore
    architecto beatae ipsam odio perferendis adipisci, sit culpa in, obcaecati
    laboriosam maiores commodi ducimus ab ea perspiciatis! Fuga, at?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex nisi tempore
    architecto beatae ipsam odio perferendis adipisci, sit culpa in, obcaecati
    laboriosam maiores commodi ducimus ab ea perspiciatis! Fuga, at?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex nisi tempore
    architecto beatae ipsam odio perferendis adipisci, sit culpa in, obcaecati
    laboriosam maiores commodi ducimus ab ea perspiciatis! Fuga, at?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex nisi tempore
    architecto beatae ipsam odio perferendis adipisci, sit culpa in, obcaecati
    laboriosam maiores commodi ducimus ab ea perspiciatis! Fuga, at?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex nisi tempore
    architecto beatae ipsam odio perferendis adipisci, sit culpa in, obcaecati
    laboriosam maiores commodi ducimus ab ea perspiciatis! Fuga, at?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex nisi tempore
    architecto beatae ipsam odio perferendis adipisci, sit culpa in, obcaecati
    laboriosam maiores commodi ducimus ab ea perspiciatis! Fuga, at?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex nisi tempore
    architecto beatae ipsam odio perferendis adipisci, sit culpa in, obcaecati
    laboriosam maiores commodi ducimus ab ea perspiciatis! Fuga, at?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex nisi tempore
    architecto beatae ipsam odio perferendis adipisci, sit culpa in, obcaecati
    laboriosam maiores commodi ducimus ab ea perspiciatis! Fuga, at?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex nisi tempore
    architecto beatae ipsam odio perferendis adipisci, sit culpa in, obcaecati
    laboriosam maiores commodi ducimus ab ea perspiciatis! Fuga, at?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex nisi tempore
    architecto beatae ipsam odio perferendis adipisci, sit culpa in, obcaecati
    laboriosam maiores commodi ducimus ab ea perspiciatis! Fuga, at?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex nisi tempore
    architecto beatae ipsam odio perferendis adipisci, sit culpa in, obcaecati
    laboriosam maiores commodi ducimus ab ea perspiciatis! Fuga, at?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex nisi tempore
    architecto beatae ipsam odio perferendis adipisci, sit culpa in, obcaecati
    laboriosam maiores commodi ducimus ab ea perspiciatis! Fuga, at?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex nisi tempore
    architecto beatae ipsam odio perferendis adipisci, sit culpa in, obcaecati
    laboriosam maiores commodi ducimus ab ea perspiciatis! Fuga, at?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex nisi tempore
    architecto beatae ipsam odio perferendis adipisci, sit culpa in, obcaecati
    laboriosam maiores commodi ducimus ab ea perspiciatis! Fuga, at?
  </p>
</div>
<div class="footer">
  <app-profile></app-profile>
</div>
