<h2>Models</h2>
<button matButton="tonal" (click)="openNewModelDialog()">Add Model</button>
<table mat-table [dataSource]="getModels.value() ?? []">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let model">{{model.name}}</td>
  </ng-container>

  <!-- Size Column -->
  <ng-container matColumnDef="size">
    <th mat-header-cell *matHeaderCellDef>Size</th>
    <td mat-cell *matCellDef="let model">{{formatBytes(model.size)}}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td
      mat-cell
      *matCellDef="let model"
      matTooltip="This model is used by a user for embeddings. It cannot be removed."
      [matTooltipDisabled]="!model.usedForEmbeddings">
      <button
        matButton
        (click)="deleteModel(model.name)"
        [disabled]="model.usedForEmbeddings">
        Remove
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  @if (!getModels.isLoading()) {
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="3">
      <p>No models downloaded yet</p>
      <button matButton (click)="openNewModelDialog()">Add Model</button>
    </td>
  </tr>
  }
</table>
