:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

.form-field {
  margin-block: 1em;

  label {
    display: block;
    font-size: 16px;
    margin-bottom: 0.25em;
    margin-left: 28px;
  }

  input {
    display: block;
    padding: 0.75em 1.5em;
    font-size: 18px;
    border-radius: 1.25em;
    border: 1px solid var(--accent-color);
    background-color: var(--accent-background);
    color: var(--primary-color);
    min-width: 400px;

    &:hover,
    &:focus {
      outline: none;
    }
  }
}

.error {
  margin-left: 28px;
}

button {
  width: 100%;
}
