<button class="sidenav" (click)="drawerOpen.emit()">
  <mat-icon>notes</mat-icon>
</button>
<button
  (click)="selectedTabIndex.set(-1)"
  [class.selected]="selectedTabIndex() === -1">
  <span>New Note</span>
  <mat-icon style="visibility: hidden">close_small</mat-icon>
</button>
@for (tab of tabs(); track tab.id; let index = $index) {
<button
  (click)="selectedTabIndex.set(index)"
  [class.selected]="selectedTabIndex() === index">
  <span>{{tab.title ?? 'Mystery Note'}}</span>
  <mat-icon (click)="tabClosed($event, index)">close_small</mat-icon>
</button>
}
<div class="rest"></div>
