@use '@angular/material' as mat;

:root {
  --primary-background: #212121;
  --secondary-background: #181818;
  --accent-background: #303030;

  --primary-color: #ffffff;
  --secondary-color: #cccccc;
  --accent-color: #424242;

  --highlight-color: #005cbb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background-color: var(--primary-background);
  color: var(--primary-color);
}

.error {
  color: #b00020;
}

:root {
  @include mat.dialog-overrides(
    (
      container-min-width: 400px,
      container-color: var(--primary-background),
      content-padding: 1em,
      subhead-color: var(--primary-color),
      supporting-text-color: var(--secondary-color),
    )
  );

  @include mat.table-overrides(
    (
      background-color: var(--accent-background),
      header-headline-color: var(--primary-color),
      row-item-label-text-color: var(--secondary-color),
      row-item-outline-color: var(--accent-color),
    )
  );

  @include mat.form-field-overrides(
    (
      outlined-container-shape: 1.25em,
      outlined-input-text-color: var(--primary-color),
      outlined-outline-width: 2px,
      outlined-outline-color: var(--accent-color),
      outlined-hover-label-text-color: var(--accent-color),
      outlined-focus-label-text-color: var(--primary-color),
      outlined-hover-outline-color: var(--accent-color),
      outlined-focus-outline-color: var(--accent-color),
    )
  );

  @include mat.button-overrides(
    (
      text-container-shape: 0.5em,
      text-label-text-color: var(--highlight-color),
      text-disabled-label-text-color: var(--accent-color),
      tonal-container-shape: 0.5em,
      tonal-container-color: var(--highlight-color),
      tonal-label-text-color: var(--primary-color),
      tonal-disabled-container-color: var(--accent-background),
      tonal-disabled-label-text-color: var(--accent-color),
    )
  );

  @include mat.checkbox-overrides(
    (
      label-text-color: var(--primary-color),
      unselected-hover-icon-color: var(--accent-color),
      unselected-focus-icon-color: var(--accent-color),
    )
  );

  @include mat.select-overrides(
    (
      panel-background-color: var(--primary-background),
      enabled-trigger-text-color: var(--primary-color),
      focused-arrow-color: var(--primary-color),
    )
  );

  @include mat.option-overrides(
    (
      label-text-color: var(--primary-color),
      selected-state-label-text-color: var(--primary-color),
      selected-state-layer-color: var(--accent-color),
    )
  );
}

.fullscreen {
  @include mat.dialog-overrides(
    (
      container-min-width: 75vw,
    )
  );
}

.profile-menu {
  @include mat.menu-overrides(
    (
      container-color: var(--primary-background),
      item-label-text-color: var(--primary-color),
      item-hover-state-layer-color: var(--accent-background),
      item-focus-state-layer-color: var(--accent-background),
    )
  );
}
