@use '@angular/material' as mat;

:root {
  --primary-background: #212121;
  --secondary-background: #181818;
  --accent-background: #303030;

  --primary-color: #ffffff;
  --secondary-color: #cccccc;
  --accent-color: #424242;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
